@model PizzaStore.Models.IngredientsOnPizza

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IngredientsOnPizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient10.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient10.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient11.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient11.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient12.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient12.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient13.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient13.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient14.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient14.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient15.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient15.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient16.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient16.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient17.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient17.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
