@model IEnumerable<PizzaStore.Models.IngredientsOnPizza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient10.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient11.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient12.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient13.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient14.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient15.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient16.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient17.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient10.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient11.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient12.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient13.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient14.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient15.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient16.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient17.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
