@model PizzaStore.Models.NumberOfPizzaOrdered

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NumberOfPizzaOrdered</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pizza.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza13.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza13.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza14.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza14.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza15.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza15.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza16.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza16.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza17.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza17.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza18.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza18.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza19.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza19.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza20.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza20.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza21.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza21.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza22.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza22.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza23.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza23.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
